{% for content in contents %}
    <div class="card-image" data-controller="masonry">
        <div class="card-image-content ui grid equal width">
            <div class="column card-image-content-header" style="background-image: url({{ asset('image/Entete_Card.png') }})">
            </div>
            <span class="card-image-content-text column eight wide" title="{{ content['auteur'] ?? "" }}">
                    {{ (content['auteur'] ?? "")|u.truncate(30, '[...]')}}
                </span>
            <div class="column">
                <span class="heart"></span>
                <span class="star"></span>
                <span class="circle"></span>
            </div>
        </div>
        {% set img_file = content.images[0] ?? "" %}
        {% set img=getImage(image_path~"/"~img_file) %}
        <div class="card-image-image">
            <img src="{{ asset(img) }}" alt="">
        </div>
        {#            <div>#}
        {#                {{ content['description'] ?? "" }}#}
        {#            </div>#}
    </div>
{% endfor %}