*{
    font-family: Arial, sans-serif;
}

body {
    /*background-color: lightgray;*/
    background-image: url("/public/image/Background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-image{
    flex-basis: fit-content;
    /*margin-right: 2rem;*/
    margin-top: 20px;
    background: lightgray;
    border: solid thin;
    padding: 0.5rem!important;
    height: 100%;
    max-width: 25vw;
}
.card-image-body:hover, .circle.cross:hover{
    cursor: pointer;
}

.card-image-content{
    background-image: linear-gradient(to right, white 10%,gray 60%, #1e1e1e 100%);
    padding: 0.01rem;
    margin: 0 0 0.5rem 0!important;
}
.card-image-content-text{
    text-overflow: ellipsis;
    text-align: center;
}

.card-image-description{
    white-space: break-spaces;
}

.card-image-content-header{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.card-image-content>*{
    padding: 0!important;
}

.card-image-image{
    vertical-align: middle;
    display: inline-flex;
}

.card-image-image>img{
    width: 100%;
    height: auto;
    max-width: 30vw;
}

.card-image-width{
    width: 20rem;
}

span.heart{
    background-image: url("/public/image/heart.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80%;
    width: 20px;
    vertical-align: middle;
    display: inline-block;
    float: right;
}
span.star{
    background-image: url("/public/image/star.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80%;
    width: 20px;
    vertical-align: middle;
    display: inline-block;
    float: right;
}
span.circle{
    background-image: url("/public/image/circle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80%;
    width: 20px;
    vertical-align: middle;
    display: inline-block;
    float: right;
}
span.circle.cross{
    background-image: url("/public/image/circle_cross.png") !important;
}