<div class="ui grid card-container" data-random="{{ random }}" data-loading="oui"
     data-nbload="1" data-container="{{ containerId }}" data-controller="masonry"
>
    {% for content in contents %}
        <div class="card-image" data-controller="cardImage">
            <div class="">
                <div class="card-image-content ui grid equal width">
                    <div class="column card-image-content-header" style="background-image: url({{ asset('image/Entete_Card.png') }})">
                    </div>
                    <span class="card-image-content-text column eight wide" title="{{ content['auteur'] ?? "" }}">
                        {{ (content['auteur'] ?? "")|u.truncate(20, '[...]')}}
                    </span>
                    <div class="column">
                        <span class="circle"></span>
                        <span class="heart"></span>
                        <span class="star"></span>
                    </div>
                </div>
                <div class="ui grid card-image-body" style="margin: -14px">
                    <div class="doubling one column row card-image-container">
                        <div class="column">
                            {% set img_file = content.images[0] ?? "" %}
                            {% set img=getImage(image_path~"/"~img_file) %}
                            <div class="card-image-image">
                                <img src="{{ asset(img) }}" alt="">
                            </div>
                        </div>
                        <div class="column card-image-description" style="display: none;">
                            {{ content['description'] ?? "" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="sixteen wide column ajax-loading" style="margin-top: 10vw; margin-bottom: 10vw; position: relative" data-controller="ajax-load">
    <div class="ui text loader active ">Loading</div>
</div>
