<div class="ui equal width grid">
    <div class="column"></div>
    <div class="column fourteen wide">
        {% for container in containers %}
            {{ getContainers(container, random)|raw }}
        {% endfor %}
    </div>
    <div class="column"></div>
</div>